@using Luno.Models.Event
@using LunoTodoApp.Models
@{
	ViewData["Title"] = "Todo Item's";
}
@model IEnumerable<Event<TodoItem, Profile>>

<div class="container">
	@foreach(var item in Model)
	{
		<div id="@item.Id" class="todo-item col-md-12">
			<form>
				<div class="col-md-10">
					<h2>@item.Details.Name</h2>
					<p>@item.Details.Description</p>
				</div>

				<div class="col-md-offset-10 col-md-2" style="text-align: center;">
					@if (item.Details.Completed)
					{
						<span class="text-success">Completed</span>
					}
					else
					{
						<span class="text-danger">Not Completed</span>
					}
				</div>
				<div class="col-md-12">
					<span style="font-size: 110%;">
						<a asp-controller="Todo" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
						<a asp-controller="Todo" asp-action="Destroy" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
					</span>
					<hr />
				</div>
			</form>
		</div>
	}
	<div class="col-md-12">
		<a class="btn btn-success" asp-controller="Todo" asp-action="Create">Add New Item</a>
	</div>
</div>
